.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 760px;
  max-height: 760px;
  background: url(../img/hero-block.jpeg) no-repeat top center;
  background-size: cover;

  @include media-between(xs, xl) {
    height: 100%;
    max-height: 100%;
  }

  &__container {
    width: $container-size-base;
    display: flex;
    justify-content: space-between;
    height: 100%;

    @include media-between(xs, xl) {
      width: 100%;
      flex-direction: column;
      padding: 50px 20px 0;
    }
  }

  &__left {
    width: 55%;
    align-self: center;

    @include media-between(xs, xl) {
      width: 100%;
    }

    h1 {
      font-weight: 700;
      font-size: font-scale(60px);
      line-height: 100%;
      text-transform: uppercase;
      color: $White;
      margin-bottom: 40px;

      @include media-between(xs, xl) {
        font-size: font-scale(40px);
        line-height: 100%; /* 40px */
        margin-bottom: 20px;
      }
    }

    h2 {
      font-weight: 400;
      font-size: font-scale(22px);
      line-height: 110%;
      color: $White;

      @include media-between(xs, xl) {
        font-size: font-scale(18px);
      }
    }
  }

  &__right {
    width: 45%;
    max-width: 380px;
    align-self: flex-start;
    margin-top: 100px;
    border-radius: 7px;
    background: $White;
    padding: 60px 40px;

    @include media-between(xs, xl) {
      width: 100%;
      max-width: 100%;
      margin-top: 50px;
      padding: 60px 20px 20px;
      margin-bottom: 60px;
    }

    &__login_title {
      color: $Black;
      font-size: font-scale(24px);
      font-weight: 700;
      line-height: 100%;
      text-align: left;
      margin-bottom: 60px;
    }

    hr {
      margin-top: 15px;
      margin-bottom: 40px;

      &.error {
        border: 1px solid $Red;
        animation: shake 2s ease;
      }
    }

    #login, #password {
      border: none;
      color: $Black;
      font-size: font-scale(20px);
      font-weight: 400;
      line-height: 100%;
      text-align: left;

    }

    .custom-checkbox {
      display: flex;
      align-items: center;

      input[type="checkbox"] {
        display: none;
      }

      label {
        display: flex;
        width: 20px;
        height: 20px;
        border: 2px solid $Grey-Grey;
        background-color: $White;
        cursor: pointer;
        vertical-align: middle;
        position: relative;
        margin-right: 15px;
        flex-shrink: 0;

        &.error {
          border: 2px solid $Red;
          animation: shake 0.2s ease;
        }
      }

      input[type="checkbox"]:checked + label:after {
        content: "";
        position: absolute;
        left: 4px;
        top: 0;
        width: 6px;
        height: 12px;
        border: solid $Red;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &__pass_title {
      display: flex;
      margin-bottom: 10px;
      color: $Black;
      font-size: font-scale(14px);
      font-weight: 400;
      line-height: 100%;
      text-align: left;
    }
    &__t_c_text {
      color: $Black;
      font-size: font-scale(14px);
      font-weight: 400;
      line-height: 140%;
      text-align: left;
    }
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 55px;
      margin-top: 85px;
      background-color: $Red;
      border: none;
      border-radius: 6px;
      color: $White;
      font-size: font-scale(18px);
      font-weight: 700;
      line-height: 100%;
      text-align: center;
      cursor: pointer;
    }
  }
}
