.steps {
  width: $container-size-base;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  &__step {
    width: 25%;
    padding: 25px;
    border-right: 1px solid $Grey-Grey;

    &:last-child {
      border: none;
    }

    &__up {
      color: $Grey-Grey;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 21px */
    }

    &__bottom{
      width: 100%;
      color: $Black;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 30px */
      margin-top: 5px;
      position: relative;

      &:after {
        content: url(../img/arrow.right.svg);
        position: absolute;
        right: 0;
      }
    }
  }
}