.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: $Black;

  &__container {
    width: $container-size-base;
    height: 100%;
    padding-top: 35px;
    padding-bottom: 50px;
  }

  p {
    color: $Grey-Grey-2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
  }

  &__email {
    margin-top: 15px;

    a {
      color: $White;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 24px */
    }
  }

  &__text {
    color: $Grey-Grey-2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }

  &__copyright {
    margin-top: 40px;
  }

  &__commission {
    margin-top: 50px;
  }
}