
header {
  width: 100%;
  max-height: 70px;
  display: flex;
  justify-content: center;

  .container {
    width: $container-size-base;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;

    @include media-between(xs, xl) {
      width: 100%;
      margin: 0 20px;
    }

    .logo__wrapper {
      img {
        width: 150px;
      }
    }

    .menu__top {
      display: flex;

      &__button {
        margin-right: 10px;
        width: 140px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $Grey-Grey;
        font-size: font-scale(14px);
        font-weight: 700;
        line-height: 100%;
        text-align: center;
        border-radius: 4px;
        background: $Grey;
        pointer-events: none;
        user-select: none;

        &.user-logged-in {
          color: $Red;
          border: 2px solid $Red;
        }

        @include media-between(xs, xl) {
          width: 90px;
        }
      }

      &__lang_switcher {
        display: flex;
        align-items: center;
        position: relative;

        span {
          color: $Red;
          font-size: 14px;
          font-weight: 700;
          line-height: 100%;
          text-align: center;
          cursor: pointer;
          user-select: none;
        }

        &:after {
          content: "";
          width: 5px;
          height: 5px;
          margin-left: 8px;
          border-bottom: 2px solid $Red;
          border-right: 2px solid $Red;
          transform: rotate(45deg);
          margin-top: -4px;
          cursor: pointer;
        }

        &__popup {
          position: absolute;
          top: 15px;
          left: -50%;
          transform: translateY(50%);
          padding: 15px;
          background-color: $White;
          z-index: 1;
          border-radius: 4px;
          box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.05);

          @include media-between(xs, xl) {
            left: -200%;
          }

          &:before {
            content: "";
            width: 20px;
            height: 20px;
            background-color: $White;
            position: absolute;
            top: -10px;
            left: 25%;
            transform: rotate(45deg);
            box-shadow: -3px 0 6px -5px rgba(0, 0, 0, 0.2),
            0 -3px 6px -5px rgba(0, 0, 0, 0.2);

            @include media-between(xs, xl) {
              left: 65%;
            }
          }

          &__item {
            margin-right: 10px;
            color: $Black;
            font-size: 14px;
            font-weight: 700;
            line-height: 100%;
            text-align: center;

            &.active {
              color: $Red;
              pointer-events: none;
              cursor: default;
            }
          }
        }
      }
    }

    .menu__user {
      display: flex;
      height: 40px;

      &__wallet {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 25px;
        color: $Red;
        font-size: font-scale(14px);
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 14px */
        letter-spacing: 0.7px;
        border-left: 1px solid $Black-50;
        border-right: 1px solid $Black-50;
        user-select: none;

        > svg {
          margin-right: 10px;
        }
      }

      &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 25px;

        > svg {
          margin-right: 15px;
        }

        .name {
          color: $Black;
          font-size: font-scale(14px);
          font-style: normal;
          font-weight: 700;
          line-height: 100%; /* 14px */
          letter-spacing: 0.7px;
        }

        .id {
          color: $Black-40;
          font-size: font-scale(14px);
          font-style: normal;
          font-weight: 400;
          line-height: 100%; /* 14px */
          letter-spacing: 0.7px;
          margin-top: 5px;
        }
      }
    }
  }
}
